.shipment-container {
  background: #f5f3ff;
  border-radius: 16px;
  color: #333;
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
}

.chart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #00C6AE !important;
  color: white;
  border-radius: 12px;
    padding: 10px 10px;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
}

.plan-info {
  font-family: 'Poppins', sans-serif;
}

.info-line {
  font-weight: 500;
  font-size: 1rem;
}
.shipment-header  h1 {
  margin: 0;
  font-size: 25px;
  font-weight: 700;
  color: #fff;
}
.chart-body {
  background: #fff; /* nền trắng để chart nổi */
  padding: 5px;
  overflow: hidden;
}

.chart-body canvas {
  width: 100% !important;
  height: 100% !important;
}

