
.chart-body {
  background: #fff; /* nền trắng để chart nổi */
  padding: 5px;
  overflow: hidden;
}

.chart-body canvas {
  width: 100% !important;
  height: 100% !important;
}
.chart-wrapper {
  background: #f5f3ff; /* nền sáng nhẹ để chart tím nổi bật */
  border-radius: 16px;
  color: #333;
  display: flex;
  flex-direction: column;
  height: 100%;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  transition: all 0.3s ease;
}

.chart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(135deg, #025fae, #025fae) !important;
  padding: 10px 10px;
  border-radius: 12px;
  color: #fff;
  flex-shrink: 0;font-family: 'Poppins', sans-serif;
}

.chart-header h1 {
  margin: 0;
  font-size: 25px;
  font-weight: 700;
  color: #ffffff !important;
}

.chart-info {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.4;



}

.chart-info span {
  color: #ffffff !important;
  opacity: 0.95;
}
